<form action="/user/new" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="password" name="password">
  <button type="submit">Submit</button>
</form>